PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net
ACCESS_TOKEN_SECRET=your_super_secret_access_key_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_super_secret_refresh_key_here
REFRESH_TOKEN_EXPIRY=10d

# Mail configuration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
FORGOT_PASSWORD_REDIRECT_URL=http://localhost:3000/reset-password